@import '../../../styles/settings.scss';

.root {
  padding: $base-size;
  margin-left: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-family: 'Dosis', sans-serif;

}

.link {
  margin-left: 20px;
  background-color: rgb(181, 184, 195);
  color: #130f40;
  font-family: 'Dosis', sans-serif;

  &:hover {
      background-color: rgb(156, 41, 9);
      color: aliceblue;
  }
}
