@import '../../../styles/settings.scss';

.root {
  // text-align: center;
  padding-top: 60px;
  font-size: 50px;
}

.headButton {
  background-color: red;
  color: #fff;

  &:hover {
    background-color: green;
  }
}
