@import '../../../styles/settings.scss';

.root {
  // text-align: center;
  padding-top: 60px;
  font-size: 50px;
}

.headButton {
  background-color: rgb(0, 123, 255);
  color: #fff;

  &:hover {
    background-color: rgb(185, 169, 23);
  }
}
