@import '../../../styles/settings.scss';

.root {
  font-family: $font-family;
}

.layout {
  padding: 40px;

}

.paper {
  padding: 20px;
  height: 700px;
}

.buttons {
  float: right;
  padding: 30px 0;
}
